/files/docker_persistent_data/*
!/files/docker_persistent_data/.gitkeep
/hosts
.DS_Store
/group_vars/
/host_vars/
!/host_vars/.gitkeep
!/group_vars/all/vars.yml
mountsraspi

backups/inflight

# Ignore all output folders.
**/out/*
node_modules/

# Ignore virtualenvs.
**/venv/*

# Ignore any secrets.
**/secrets.yml