---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich
  namespace: cloudnative-pg
spec:
  instances: 1
  primaryUpdateStrategy: unsupervised

  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16-0.3.0

  backup:
    barmanObjectStore:
      destinationPath: "s3://{{ cnpg_backup_bucket }}/immich"  # Update with your S3 bucket
      s3Credentials:
        accessKeyId:
          name: aws-creds
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: aws-creds
          key: ACCESS_SECRET_KEY
      endpointURL: "https://{{ cnpg_backup_s3_endpoint }}"
      wal:
        compression: gzip
        encryption: AES256
    retentionPolicy: "7d"

  storage:
    size: 8Gi
    storageClass: freenas-iscsi-csi
  
  managed:
    roles:
    - name: immich
      superuser: true
      login: true
  
  bootstrap:
    initdb:
      database: immich
      owner: immich
      secret: 
        name: immich-db-url
      postInitSQL:
        - CREATE EXTENSION IF NOT EXISTS cube CASCADE;
        - CREATE EXTENSION IF NOT EXISTS earthdistance CASCADE;
  
  postgresql:
    shared_preload_libraries:
    - vchord.so
