[library_trash]
expire_days = 60

[fileserver]
host = 127.0.0.1
port = 8082
max_upload_size=200
max_download_dir_size=200


[database]
type=mysql
host={{ container_name }}-mariadb
user=root
password={{ mysql_root_password }}
db_name=seafile_db
port=3306
connection_charset=utf8
max_connections=100
