[Unit]
Description=CrowdSec Agent
Wants=network.target
After=network.target

[Container]
ContainerName=crowdsec
Image=docker.io/crowdsecurity/crowdsec:latest
AutoUpdate=registry

Network=web

Environment=GID=1000
Environment=COLLECTIONS=crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/base-http-scenarios

# Persistent config (parsers, scenarios, local API credentials) and data (bans, decisions)
Volume=%h/containers/crowdsec/config:/etc/crowdsec:Z
Volume=%h/containers/crowdsec/data:/var/lib/crowdsec/data:Z

# Log source for the traefik acquisition scenario
Volume=%h/containers/crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:Z
Volume=%h/containers/traefik/logs:/var/log/traefik:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
