http:
  middlewares:
    corsheader:
      headers:
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - PUT
          - HEAD
        accessControlAllowOriginListRegex:
          - ".*\\.shkhr.ovh"
        accessControlMaxAge: "100"
        addVaryHeader: "true"
