http:
  middlewares:
    corsheader:
      headers:
        accesscontrolallowmethods: "GET,OPTIONS,PUT,HEAD"
        accessControlAllowOriginListRegex: ".*\\.{{ host }}"
        accesscontrolmaxage: "100"
        addvaryheader: "true"