apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
      traefik.ingress.kubernetes.io/router.middlewares: immich-large-upload@kubernetescrd,dev-https-redirect@kubernetescrd
  name: immich-ingress
  namespace: immich
  labels:
    name: immich-ingress
spec:
  tls:
  - hosts:
    - "immich.{{ host }}"
    secretName: tenzing-dev-cert-tls
  rules:
  - host: "immich.{{ host }}"
    http:
      paths:
      - backend:
          service:
            name: immich-server
            port:
              name: http
        path: /
        pathType: Prefix
  - host: "photos.{{ parent_host }}"
    http:
      paths:
      - backend:
          service:
            name: immich-server
            port:
              name: http
        path: /
        pathType: Prefix

---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: https-redirect
  namespace: immich
spec:
  redirectScheme:
    scheme: https
    permanent: true

---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: large-upload
  namespace: immich
spec:
  buffering:
    maxRequestBodyBytes: 10737418240
    maxResponseBodyBytes: 10737418240
    memRequestBodyBytes: 10485760
    memResponseBodyBytes: 10485760
