---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: coder
  namespace: cloudnative-pg
spec:
  instances: 1
  primaryUpdateStrategy: unsupervised

  # Require 1Gi of space
  storage:
    size: 2Gi
    storageClass: freenas-iscsi-csi
  
  bootstrap:
    initdb:
      database: coder
      owner: coder
      secret: 
        name: coder-db-url
