image:
  repository: ghcr.io/shikharbhardwaj/nextcloud
  tag: 26.0.3-apache

nextcloud:
  host: nextcloud.{{ host }}
  podSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
  configs:
    preview.config.php: |-
      <?php
      $CONFIG = array (
        'enabledPreviewProviders' => [
          'OC\Preview\BMP',
          'OC\Preview\GIF',
          'OC\Preview\JPEG',
          'OC\Preview\Krita',
          'OC\Preview\MarkDown',
          'OC\Preview\MP3',
          'OC\Preview\OpenDocument',
          'OC\Preview\PNG',
          'OC\Preview\TXT',
          'OC\Preview\XBitmap',
          'OC\Preview\HEIC',
        ]
      );


internalDatabase:
  enabled: false

externalDatabase:
  enabled: true
  type: postgresql
  host: nextcloud-rw.cloudnative-pg.svc.cluster.local:5432
  password: "{{ postgres_nextcloud_pass }}"

global:
  postgresql:
    enabled: false
    auth:
      password: "{{ postgres_nextcloud_pass }}"
      postgresPassword: "{{ postgres_nextcloud_pass }}"

postgresql:
  enabled: true
  primary:
    podSecurityContext:
      enabled: false
    persistence:
      enabled: true
      storageClass: freenas-nfs-csi
      size: 20Gi

persistence:
  enabled: true
  storageClass: freenas-iscsi-csi
  size: 16Gi
  nextcloudData:
    enabled: true
    storageClass: freenas-iscsi-csi
